
.homepage{
    background-image: url(./assets/Latenightphotos/IMG_0005.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
ul li a {
    color: #57B4BA;
  }
  
h1{
    margin-left: 35px;
    color: #FE4F2D;
}
.movieheading{
    margin-right: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
footer p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}
p{
    color: #015551;
}
.moviepage{
    background-color: #FDFBEE;
    text-align: center;
    color: #57B4BA;
}
.score{
    color: #FE4F2D;
}
.description{
    width: 700px;
    margin-left: 600px;
}
