
.homepage{
    background-image: url(./assets/Latenightphotos/IMG_0005.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.firstpagecontent{
    text-align: center;
}
#indextitle{
    margin-left: 3%;
}
ul li a {
    color: #57B4BA;
  }
  
h1{
    text-align: center;
    color: #FE4F2D;
}
#movieheading{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.marriagestory p{
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    color: #57B4BA;
}
.marriagestory{
    text-align: center;
}
.poster{
    width: 25%;
}
footer p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
    text-align: center;
}

@media (max-width: 500px){
    .homepage{
        background-position: center;
    }
    .movieheading{
        text-align: center;
    }
    .description{
        text-align: center;
    }
    .poster{
        width: 50%;
    }
}