.homepage{
    background-image: url(./assets/Late\ night\ photos/IMG_0002.JPG); 
    background-size:cover; 
    background-position:55% 2% ;
    background-repeat: no-repeat;
   
}
.moviepage{
    background-image: url(./assets/Late\ night\ photos/IMG_0003.JPG); 
    background-size:cover; 
    background-position:55% -1% ;
    background-repeat: no-repeat;
   
}
h2{
    color: rgb(241, 146, 21);
}
h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1.movieheading{
    color: rgb(241, 226, 226);
}
.links{
    color: rgb(255, 238, 0);
    text-align: center;
}
p{
    color: rgb(238, 193, 46);
}
ol{
    text-align: left;
    color:rgb(255, 255, 255);
}